.title{
    font-size: 30px;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.location{
    font-size: 20px;
}

.personrating{
    margin-left: 30%;
}
.propertyrating{
    margin-left: 1%;
}