<ion-header>
  <ion-buttons>
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="editprof">
    <img src="./assets/Images/download.png">
  </ion-avatar>
  <ion-icon class="editphoto" name="camera"></ion-icon>

  <ion-list>

    <ion-item>
      <ion-label class="fa" position="stacked">First Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="la" position="stacked">Last Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="ta" position="stacked">Temporary Address</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="pa" position="stacked">Permanent Address</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="pn">Phone Number</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="pw" position="stacked">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  
  </ion-list>


</ion-content>
