ion-content.background{
    --background:url(../../assets/Images/images.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

.no-scroll.scroll-content{
    overflow: hidden;
}


.editprof{
    display: block;
    border-radius: 120px;
    border: 1px solid #fff;
    width: 150px;
    height:150px;
    margin: 30px auto 0;
}

.editphoto{
    display: block;
    border-radius: 120px;
    border: 2px solid #fff;
    background-color: #cccfcf;
    width: 30px;
    height:30px;
    margin-left: 45%;
    transform: translate(80%,-90%)
}

.pn{
    font-size: 20px;
}
.fa{
    font-size: 20px;
}
.la{
    font-size: 20px;

}
.pa{
    font-size: 20px;

}
.ta{
    font-size: 20px;
}

.pn{
    font-size: 20px;
}
.pw{
    font-size: 20px;
}