.profilerating{
    margin-top: 10%;
    margin-left: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}


.namelbl{
    border:2px solid rgb(240, 29, 29);
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.addresslbl{
    font-size: 21px;
    border:2px solid rgb(240, 29, 29);
    padding-top: 15px;
    padding-bottom: 15px;
}

.apartmentlbl{
    font-size: 21px;
    border:2px solid rgb(240, 29, 29);
    padding-top: 15px;
    padding-bottom: 15px;
}

.namefield{
    font-size: 21px;
    border:2px solid rgb(240, 29, 29);
    padding-top: 15px;
    padding-bottom: 15px;
}

.addressfield{
    font-size: 21px;
    border:2px solid rgb(240, 29, 29);
    padding-top: 15px;
    padding-bottom: 15px;
}

.apartmentfield{
    font-size: 21px;
    border:2px solid rgb(240, 29, 29);
    padding-top: 15px;
    padding-bottom: 15px;
}

.address{
    margin-top: 10%;
    font-size: 21px;
    border:2px solid rgb(240, 29, 29);
    padding-top: 15px;
    padding-bottom: 15px;
}

.prev{
    margin-top: 10%;
    font-size: 21px;
    border:2px solid rgb(240, 29, 29);
    padding-top: 15px;
    padding-bottom: 15px;
}

.viewadditionalbtn{
    // margin-top: 40%;
    // margin-left: 15%;
    // transform: translate(-113%);
    font-size: 23px;
    border:2px solid rgb(240, 29, 29);
    padding-top: 15px;
    padding-bottom: 15px;
}

.lblReview{
    margin-left:2%;
    font-size:25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.avatar{
    margin-top:5%;
    margin-left:1%;
    height: 60px;
    width: 60px;
    margin-bottom: 10%;
}

.prof{
    display: block;
    border-radius: 120px;
    border: 1px solid #fff;
    width: 100px;
    height:100px;
    margin: 30px auto 0;
    
    
}

.heading{
    margin-top: 1%;
    margin-left:5%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.paragraph{
    margin-top: 1%;
    margin-left:5%;
    font-size:15px;
    padding-top: 15px;
    padding-bottom: 15px;
}