.locationlbl{
    margin-top: 1%;
}

.avr{
    margin-top:30%;
}

.viewmapbtn{
    margin-top:20%;
    margin-left: 25%;
}

.pin{
    margin-top: 18%;
}

.reviewbtn{
    margin-top: 30%;
}

.profilerating{
    margin-top:60%;
    margin-left: 5%;
   
}

.fes{
    margin-top: 5%;
    margin-bottom: 5%;
}

.electricity{
    margin-bottom:2%;
}

.furnished{
    margin-bottom: 2%;
}

.security{
    margin-bottom:2%;
}

