.locationlbl{
    font-size: 25px;
    

}

.locationfield{
    font-size: 25px;
    

}


.avrrating{
    font-size: 20px;
}

.namelbl{
    font-size: 18px;
}

.ratinglbl{
    font-size: 18px;
}
.info{
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.profile{
    display: block;
    border-radius: 120px;
    border: 1px solid #fff;
    width: 65px;
    height:65px;
}

.fes{
    margin-top: 5%;
    margin-bottom: 5%;
}

.electricity{
    font-size: 20px;
}

.electricityfield{
    font-size: 20px;
}

.furnished{
   font-size: 20px;
}

.furnishedfield{
    font-size: 20px;
}

.security{
    font-size: 20px;
}

.securityfield{
    font-size: 20px;
}