.locationlbl{
    font-size: 25px;
    border: 2px solid blue;

}

.locationfield{
    font-size: 25px;
    border: 2px solid green;

}
.viewmapbtn{
    border: 2px solid green;
    
}

.pin{
    border: 2px solid purple;
    margin-right: 40%;
    margin-left: 48%;
}


.reviewbtn{
    margin-top: 35%;
}

.fes{
    margin-top: 5%;
    margin-bottom: 5%;
}

.electricity{
    margin-bottom:2%;
}

.furnished{
    margin-bottom: 2%;
}

.security{
    margin-bottom:2%;
}

