.location{
    margin-top:3%;
}

.size{
    width:290px;
}

.searchradius{
    margin-top: 20%;
    font-size: 20px;
    margin-left: 5%;
    margin-bottom:15%;
}

.range{
    margin-top:6%;
    margin-bottom: 6%;
}

.leftlbl{
    font-size: 25px;
}

.rightlbl{
    font-size: 25px;
}

.homelabel{
    font-size:25px;
    margin-bottom:3%;

}

.apartmentlabel{
    font-size: 25px;
    margin-top:2%;
    margin-bottom:3%;

}


.propertyabove{
    margin-top:7%;
    font-size: 23px;
    margin-bottom:5%;
}

.landlordabove{
    margin-top:7%;
    font-size: 23px;
    margin-bottom:5%;
}

.securityposition{
    margin-top:13%;
    font-size:25px;
    margin-left:5%;
    margin-bottom:5%;
}

.yeslabel{
    font-size:23px;
    margin-top:10%;
    margin-bottom:5%;

}

.nolabel{
    font-size:23px;
    margin-top:5%;
    margin-bottom:5%;

}